/* General Styling */
* {
    
    margin: 0;
    padding: 0;
}
:root{
    --bg: rgba(62, 81, 136, 0.652);
    --text: rgb(255, 255, 255);
    --top: #2c3e50;
    --hcolor: #2c3e50;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg);
    color: var(--hcolor);
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    border-radius: 8px;
    top: 12px;
    position: sticky;
    z-index: 1;
    margin: 12px;
    background-color: var(--top);
    color: var(--text);
    padding: 7px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

header .h1 {
    position: relative;
    font-size: 2em;
    margin: 0;
    font-weight: 500;
    text-align: right;
}

.logo hr {
    border: none;
    height: 2px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0;
}

.small {
    font-size: 0.7em;
    letter-spacing: 1.5px;
}

/* Navigation Styling */
nav {
    flex-grow: 1;
    /* Allow nav to take up remaining space */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul .hide .a1,
.obtn {
    position: relative;
    text-decoration: none;
    color: #ecf0f1;
    margin-left: 30px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul .hide .a1::before {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    height:2px;
    width: 0;
    background-color: #fff;
    border-radius: 3px;
    transition: width 0.2s ease-in-out;
}


nav ul .hide {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}



nav ul li .a1:hover::before {
    width: 100%;
}

.sbar {
    position: fixed;
    margin: 0 12px;
    justify-self: center;
    width: 95.5%;
    height: 0px;
    background-color: var(--bg);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    backdrop-filter: blur(40px);
    box-shadow: -10px 0 10px rgba(31, 31, 31, 0.74);
    border-radius: 10px;
    transition: height ease-in-out 0.1s;
    overflow: hidden;z-index: 1;
}

.sbar ul {
    width: 90%;
    flex-direction: column;
    overflow: hidden;
}

.open {
    height: 160px;
}

.sbar ul li {
    width: 95%;
    border-bottom: 1px solid #000;
    text-align: center;
    border-radius: 12px;
    margin: 0 auto 2px auto;
}

.sbar ul li:hover {
    background: rgba(45, 56, 88, 0.687);
    border: none;
}

.sbar a {
    text-decoration: none;
    color: #ecf0f1;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.flex {
    display: flex;
}

.obtn {
    color: #fff;
    font-size: 1.5rem;
    display: none;
}



/* Main Content Styling */
.sec1 {
    padding: 50px 20px;
    background-color: #fff;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sec1 h1 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 15px;
}

.sec1 p {
    font-size: 1.2em;
    color: #7f8c8d;
}

/* student cards */
.info {
    margin: 15px;
    font-size: .7rem;
    background: #fff;
    padding: 9px 15px;
    border-radius: 8px;
}


.sec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    margin: 15px;
    border-radius: 8px;
    padding: 18px;
}


.profile-card {
    margin: 15px 5px;
    background: #fff;
    width: 200px;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.profile-card:hover {
    transform: scale(1.05);
}

.profile-card .img-cover {
    position: relative;
    background: var(--top);
    border-radius: 12px 12px 0 18px;
    padding: 20px 0px;
}

.profile-card .img-cover::before,
.profile-card .img-cover::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    background-color: #fff;
    height: 50px;
    width: 50px;
}

.profile-card .img-cover::before {
    background: var(--top);
}

.profile-card .img-cover::after {
    border-radius: 0 18px 0 0;
}

.profile-card .imgbox {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.profile-card img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid var(--top);
}

.profile-card h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.profile-card p {
    margin: 1px;
    font-size: 10px;
    color: #575757;
}

.profile-card .student-info {
    margin: 5px 0 15px 0;
    font-size: 12px;
    color: rgb(73, 68, 68);
}

/* Footer Styling */
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 15px;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: .7em;
    margin: 0;
    font-weight: 330;
}

.design {
    font-weight: 1000;
    letter-spacing: 1px;
}

.go {
    text-decoration: none;
}

.icons {
    font-size: 1.3em;
    margin: 2px;
}

.fa-brands {
    margin-top: 12px;
    margin-right: 9px;
    color: #fff;
}



/* Responsive Design */
@media (max-width: 768px) {


    .sec1 h1 {
        font-size: 1.7em;
        margin-bottom: 10px;
    }

    header {
        padding-right: 15px;
    }


    .sec1 p {
        font-size: .8em;
    }

    .obtn {
        display: block;
    }


    .obtnli {
        padding: 10px 15px;
    }

    header .logo h1 {
        font-size: 2em;
    }

    header .hide {
        display: none;
    }

    .sbar ul li a:hover {
        color: rgb(170, 170, 170);
    }

    nav ul li {
        padding: 0.7em;
    }

    main h1 {
        font-size: 2.2em;
    }

    main p {
        font-size: 1.1em;
    }
}
